.list-item-active{
    background: #4f7587;
}

span{
    color: white;
    padding-left: 23px;
    white-space: pre-wrap;
    display: inline-block;
}

.dashboard-span{
    padding-top: 10px;
    padding-left: 19px;
    
}

.ticket-span{
    padding-left: 16px;
}

mat-nav-list{
    position: absolute;
    top: 5%;

}

fa-icon{
    color: white;
}

mat-icon{
    color: white;
    float: left;
    width: 16px;
    font-size: 20px;
    padding-top: 4px;
}

.mdc-list-item {
    padding-left: 25px;
    padding-right: 37px;
    
}

.footer a{
    display: block;
    text-align: center;
    color: white;
    padding-bottom: 9px;
    text-decoration: none;
}
.footer{
    margin-top: 106px;
}

.mat-divider {
    border-top-width: 240px;
  }

mat-expansion-panel{
    width: 259px;
    background: #0f172a;
    height: 180px;
    box-shadow: none;
}

mat-expansion-panel-header{
    font-size: 16px;
    font-weight: 400;
    padding: 0px 27px 0px 17px;
    
}

.submenu{
    display: block;
    position: absolute;
    margin-top: 37px;
    width: 91%;   //260px
    font-size: 16px;
    font-weight: 400;
}


:host{
    ::ng-deep{
        .mat-expansion-indicator::after {
            color: #fff;
            margin-top: -5px;
        }
        .mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item:focus{
            background: #4f7587;
        }
    }
}

/* Remove padding and margin from .mat-list-item */
.mat-nav-list a.mat-list-item {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
  }
  
  /* Update .mat-nav-list .mat-list-item:hover */
  .mat-nav-list a.mat-list-item:hover {
    background: #4f7587;
  }
  