<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:wght@300&display=swap" rel="stylesheet">

<div id="main">
    <a routerLink = "/agent-ticket-list">&lt; back</a><br>
    <div id = "title_priority_request">
        <h2>{{ticket.title}}</h2>
        <div [ngClass]="{
            'prioritybox-high': ticket.priority === 'High',
            'prioritybox-medium': ticket.priority === 'Medium',
            'prioritybox-low': ticket.priority === 'Low'
          }">{{ ticket.priority }} </div>

        <button *ngIf = "ticket.status === 'assigned'" class = "button" id = "markAsResolved" (click) = markAsResolved()>Mark as Resolved</button>
    </div>
    <div id="details">
        <table>
            <tr>
                <td>Submitted on: </td>
                <td>{{ticket.submit_date.toDate() | date: 'MMM dd, yyyy hh:mm'}}</td>
                <td>Status: </td>
                <td style="text-transform: capitalize">{{ticket.status}}</td>
            </tr>
            <tr>
                <td>Category: </td>
                <td>{{ticket.category}}</td>
            </tr>
            <tr>
                <td>Customer: </td>
                <td>{{ticket.customer_name}}</td>
            </tr>
            

        </table>
        
    </div>
    <div id="threads" [style.height]="this.threadHeight">
        <!-- call from database -->
        <app-thread *ngFor = "let message of messages" 
        send_date="{{ message.send_date | date: 'MMM dd, yyyy hh:mm' }}"
        sender_name="{{message.sender_name}}"
        text="{{message.text}}"
        ></app-thread>        
    </div>
    <app-input *ngIf = "ticket.status === 'Assigned'" (newMessageEvent)="addMessage($event)"></app-input>
    <div id = "buttonContainer">
        <button class = "button" id = "accept" *ngIf = "ticket.status === 'Unassigned'" (click)="acceptTicket(this.ticket_id,this.user)">Accept Ticket</button>
    </div>
    
</div>

<!-- if ticket is resolved-->
<app-ticket-right-resolved *ngIf = "ticket.status === 'Resolved'" ticket_id="{{this.ticket_id}}"></app-ticket-right-resolved>

<!-- if ticket is assigned or ongoing -->
<app-ticket-right-assigned *ngIf = "ticket.status === 'Assigned'" ticket_id="{{this.ticket_id}}"></app-ticket-right-assigned>
