<div class= "centered-div">
<form>
    <h1 class="page-title">Update Password</h1>
    
    <div class="password-field">
        <label for="currentPassword">Current Password:</label>
        <input type="password" id="currentPassword" name="currentPassword">
    </div>
    
    <div class="password-field">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword">
    </div>
    
    <div class="password-field">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword">
    </div>
    
    <div class="button-container">
        <button class="cancel" routerLink="/customer-profile">Cancel</button>
        <button>Save</button>
    </div>
      
    </form>
</div>