@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap'); 

.centered-div {
  padding: 20px;
  border-radius: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #071228;
  height: 100%;  // Change from 100vh to 100%.
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: auto; // Set to auto so it only scrolls if needed
  box-sizing: border-box;
  transition: all 0.3s ease;
}

form {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(7, 18, 40, 0.5);
  width: 100%;
  max-width: 450px;
  margin: auto;

  h1.page-title {
    text-align: center;
    color: #071228;
    border-bottom: 3px solid #071228;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-weight: bold;
  }

  .password-field {
    margin-bottom: 20px;

    label {
      display: block;
      font-weight: 600;
      margin-bottom: 8px;
      color: #333;
    }

    input[type="password"] {
      width: 95%;
      padding: 10px 15px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 0.95em;

      &:focus {
        border-color: #071228;
        outline: none;
        box-shadow: 0 0 10px rgba(7, 18, 40, 0.3);
      }
    }
  }

  button {
    width: 150px;
    font-style: bold;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #071228;
    color: white;
    font-weight: 600;
    margin: 8px;
    border: none;

    &:hover {
      background-color: lighten(#071228, 5%);
    }
  }
  
  button.cancel {
    background-color: #D32F2F;

    &:hover {
      background-color: lighten(#D32F2F, 5%);
    }
  }

  .button-container {
    text-align: center;
    padding-top: 20px;
  }
}
