* {
    margin: 0;
    padding: 0;
}
h2 {
    color: #000;
    font-family: "Montserrat";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display:inline-block;
    margin-bottom:0;
    margin-top: 0;
}
#main {
    box-sizing: border-box;
    display: inline-block;
    background-color: #F2F3F5;
    margin:0px;
    outline: none;
    border: 0px;
    height: 100%;
    padding: 25px 50px 0px 50px;
    width: 82.5%;
    position: absolute;
    overflow: hidden;
}
* {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.prioritybox-high,.prioritybox-medium,.prioritybox-low{
    width: 7.5%;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    margin-left:2.5%;
    margin-right:2.5%;
}

.prioritybox-high,.statusbox-unassigned{
    background-color: #FD7474;
}

.prioritybox-medium,.statusbox-assigned{
    background-color: #FDEB74;
}

.prioritybox-low,.statusbox-resolved{
    background-color: #46ECB0;
}

ul {
    padding-left:0;
}
#title_priority_request {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    vertical-align: middle;
}

.button {
    margin: 20px;
    color: #EBFBFE;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    border-radius: 8px;
    background: #4F7587;
    box-shadow: 0px 8px 15px -1px rgba(0, 0, 0, 0.08);
    width: 175px;
    height: 40px;
    flex-shrink: 0; 
}
#threads{
    margin-top: 20px;
    overflow: auto;
    height: 70%;
    padding-bottom: 50px;
}


td:nth-child(odd) {
    font-style: bold;
    font-weight: 700;
}
td {
    width: 150px;
}
option {
    font-family: "Montserrat";
    padding: 5px;
}
select {
    width: 130px;
    border: 1px solid #000;
    background: #FFF;
    
}
app-ticket-right-assigned {
    display: inline-block;
}

app-input {
    z-index: 1;
    bottom: 0;
    margin: 100%;

}