<div class="btn-back">
    <button mat-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        <span class="btn-back-text">Back</span>
    </button>
</div>

<div class="action-btn">
    <button mat-button (click)="openFeedbackForm()" class="btn-feedback"><span class="btn-text">Feedback</span></button>
</div>

<div class="card">
    <mat-card class="article-card">
        <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>This card indeterminates progress bar.</p>
            <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
            from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
            originally bred for hunting.</p><br><br>
            <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                originally bred for hunting.</p>
            <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                originally bred for hunting.</p>
        </mat-card-content>
    </mat-card>
    
    <div class="subcard">
        <mat-card class="content-card">
            <mat-card-header>
                <mat-card-subtitle>Article related to: <h2>Installation</h2></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="content-index">Installing Github</p>
                <p class="content-index">Installing Github</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
