<div mat-dialog-title>
    <fa-icon [icon]="faFileImport"></fa-icon>
    <h1 class="dialog-title">Send a review</h1>
</div>

<div mat-dialog-content>
    <mat-form-field>
        <mat-select>
          <mat-option value="one">William</mat-option>
          <mat-option value="two">Ezmeralda</mat-option>
          <mat-option value="three">Hagan</mat-option>
          <mat-option value="four">Tim</mat-option>
          <mat-option value="five">Gordon</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button class="btn-send"><span class="btn-text">Send</span></button>
</div>


