<div class="title-container">
    <h1 class="knowledge-title">Knowledge Base</h1>
  
    <span>Explore How-To's and learn best practices from our knowledge base</span>
  
    <div class="search-bar">
        <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
        <input type="text" placeholder="Search..." />
    </div>
        
    <div class="subcard">
        <mat-accordion>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-title>Getting Started</mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p (click)="clickButton('view-article')">article</p> -->
                <a class="link" href="/customer-view-article">Article</a>
            </mat-expansion-panel>
    
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>User Settings</mat-panel-title>
                </mat-expansion-panel-header>
                <a class="link" href="/customer-view-article">Article</a>
            </mat-expansion-panel>
    
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Cloud Server </mat-panel-title>
                </mat-expansion-panel-header>
                <a class="link" href="/customer-view-article">Article</a>
            </mat-expansion-panel>
    
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Integrations </mat-panel-title>
                </mat-expansion-panel-header>
                <a class="link" href="/customer-view-article">Article</a>
            </mat-expansion-panel>
    
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Installation </mat-panel-title>
                </mat-expansion-panel-header>
                <a class="link" href="/customer-view-article">Article</a>
            </mat-expansion-panel>
    
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Reporting </mat-panel-title>
                </mat-expansion-panel-header>
                <a class="link" href="/customer-view-article">Article</a>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
