.article-card {
    width: 66%;
    margin: 31px 10px 0px 20px;
}

.card{
    display: flex;
    padding: 20px;
    height: auto;
}

.subcard{
    // display: grid;
    padding: 20px 20px 0px 20px;
    width: 30%;
    height: auto;
}

.analytics-card{
    width: 100%;
    margin: 20px 0px 0px 0px;
    float: right;
    padding: 0px;
}

.properties-card{
    width: 100%;
    margin: 10px 0px 0px 0px;
    float: right;
    padding: 0px;
}

.analytics-header, .properties-header{
    background-color: #e6e7ea;
    padding: 17px 0px 4px 20px;
}

.analytics-content, .properties-content{
    padding: 12px 16px 16px 16px;
}

.properties-subtitle{
    font-size: inherit;
    font-weight: 600;
}

mat-list-item{
   padding: 8px;
   display: flex;
    //    width: 90%;
}

span{
    padding-left: 10px;
}

.view-item{
    margin-left: -2px;
}

.article-feedback-item{
    font-family: var(--mdc-list-list-item-label-text-font);
    line-height: var(--mdc-list-list-item-label-text-line-height);
    font-size: var(--mdc-list-list-item-label-text-size);
    font-weight: var(--mdc-list-list-item-label-text-weight);
    letter-spacing: var(--mdc-list-list-item-label-text-tracking);
    margin: -3px 0px -9px -4px;
    padding: 10px;
}

.article-feedback-result{
    display: flex;
    float: right;
    margin: 8px -8px 0px 0px;
}

.result{
    display: flex;
    float: right;
    margin-top: -27px;
}

.action-btn{
    position: absolute;
    top: 56px;
    right: -811px;
    width: 100%;
}

.btn-delete{
    background-color: #D74242;
    margin-right: 20px;
    width: 9%;
    
}

.btn-confirm{
    background-color: #4F7587;
    width: 11%;
    
}

.btn-text{
    color: white;
    padding: 0px;
}

.category{
    width: 96%;
    padding-bottom: 0px;
}

mat-form-field{
    padding: 11px 0px 0px 10px;
    width: 96%;
}

.form-field-category{
    padding: 0px 0px 0px 10px;
    width: 96%;
}

.properties-subcontent{
    display: block;
    padding-top: 4px;
}

.properties-subcontent-status{
    display: block;
    background-color: #d9f1dc;
    color: #4ac05c;
    border-radius: 5px;
    width: 100%;
    padding: 8px 5px;
    text-align: center;
    margin: 9px 0px 0px 10px;
}

.properties-list-item{
    padding-bottom: 3px;
}

:host{
    ::ng-deep{
        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: whitesmoke;
        }
    }
}

.btn-back{
    margin: 24px 0px 0px 23px;
}

.btn-back-text{
    padding-left: 2px;
}

mat-select{
    padding: 5px 0px;
}