<div class="register_container">

    <div class="company-container">
      <div class="company">
        <p class="help">HELP</p>
        <p class="desk">DESK</p>
      </div>
    </div>

    <div class="user_container">
        <form class="profile-details-form">

          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="Username">
        </div>

            <div class="input-row">
                <div class="form-group-half">
                    <label for="firstName">First Name:</label>
                    <input class = "input-half" type="text" id="firstName" name="firstName" value="First Name">
                </div>
      
                <div class="form-group-half">
                    <label for="lastName">Last Name:</label>
                    <input class = "input-half" type="text" id="lastName" name="lastName" value="Last Name">
                </div>
            </div>
      
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" value="E.g. example@gmail.com">
            </div>
      
            <div class="form-group">
                <label for="contactNumber">Contact Number:</label>
                <input type="text" id="contactNumber" name="contactNumber" value="E.g. 0123456789">
            </div>
      
            <div class="form-group">
                <label for="addressLine1">Address Line 1:</label>
                <input type="text" id="addressLine1" name="addressLine1" value="Address Line 1">
            </div>
      
            <div class="form-group">
                <label for="addressLine2">Address Line 2:</label>
                <input type="text" id="addressLine2" name="addressLine2" value="Address Line 2">
            </div>
    
            <div class="input-row">
            <div class="form-group-half">
                <label for="city">City:</label>
                <input class = "input-half" type="text" id="city" name="city" value="City">
            </div>
      
            <div class="form-group-half">
                <label for="postalCode">Postal Code:</label>
                <input class = "input-half" type="text" id="postalCode" name="postalCode" value="E.g. 47500">
            </div>
             </div>
         <div class="input-row">
            <div class="form-group-half">
                <label for="state">State:</label>
                <input class = "input-half" type="text" id="state" name="state" value="State">
            </div>
      
            <div class="form-group-half">
                <label for="country">Country:</label>
                <input class = "input-half" type="text" id="country" name="country" value="Country">
            </div>
        </div>
        
        <div class="button-container">
            <button>Register</button>
        </div>
        
        </form>
      </div>
      
    </div>
  
        
 
  


